<form name="user-form" #userForm="ngForm" (submit)="save(userForm)">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      name="username"
      #userName="ngModel"
      [(ngModel)]="user.name"
      required=""
      placeholder="请输入用户名"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input
      matInput
      name="age"
      type="number"
      #userAge="ngModel"
      [(ngModel)]="user.age"
      max="100"
      min="1"
      placeholder="请输入年龄"
    />
  </mat-form-field>
  <div class="error-messages" *ngIf="userForm.invalid">
    <div *ngIf="userName.invalid">用户名不能为空</div>
    <div *ngIf="userAge.invalid">年龄必须在 1-100 之间</div>
  </div>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
